---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Saturn is the best
`;
---

<Layout title="Welcome to Saturn.">
    <h1 class="mb-10">Joshua's Starter Website(you know, Saturn)</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Go to Saturn</a>
    </p>
</Layout>
